# Ignore the virtual environment
pw_env/
__pycache__/
.vscode/

# Ignore CAD files and Pointwise meshes
CAD_INPUTS/
MESH_OUTPUTS/
MANUAL_REVIEW/
*.STEP
*.step
*.igs
*.x_t
*.pw
*.glf

# Ignore tracking ledgers (optional, but recommended)
#mesh_tracker.csv